* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
   }
   
   .container {
     display: flex;
     background: white;
     align-content: center;
     justify-content: center;
     flex-direction: column;
     min-width: 700px;
     min-height: 500px;
     border-radius: 5%;
     margin: auto;
   }
   
   table {
     border-collapse: collapse;
     margin: auto;
   }
   
   td {
     background-color: rgb(253, 144, 246);
     border: 5px solid rgb(8, 1, 1);
     font-size: 80px;
     color: white;
     border-radius: 10%;
   }
   
   #player {
     padding: 1rem;
   }
   
   body {
     display: flex;
     background: linear-gradient(to bottom, rgba(246, 112, 204, 0.916), rgba(53, 255, 238, 0.73));
     
     height: 100vh;
     width: 100%;
     overflow: hidden;
   }